extends ../components/base
block title
    title 待我审批
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/order/order_mine',text:'工单管理',icon:'icon-order'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/order/order_create',text:'工单申请'},{link:'#',text:'待我审批'},{link:'/order/order_mine',text:'我的申请'}]
    +menuLink(menuObj,1)
    .condition
        .inline-group
            label(for='newsTheme') 名称:
            input#newsTheme(type='text')
        .inline-group
            span(style='margin-right:10px') 工单状态:
            input#unread(type='radio' name='read' checked style='margin-right:10px')
            label(for='unread' style='margin-right:25px') 未审批
            input#read(type='radio' name='read' style='margin-right:10px')
            label(for='read') 已审批
        .inline-group
            label(for='date') 发布时间:
            input#date(type='text')
        .inline-group
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px') 查询
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布人
                        td  新闻类型
                        td  发布时间
                        td  发布状态
                        td  操作
                tbody
                    if(orders.length)
                        each order in orders
                            tr
                                td
                                    input(type='checkbox' data-id=order.workOrderApplyId)
                                td.link  #{order.informationName}
                                td  #{order.userId}
                                td  #{order.informationType}
                                td  #{order.businessCreateTime}
                                td  #{order.approveStatus === 0 ? "未审批" : order.approveStatus === 1 ? '审批通过' : order.approveStatus === 2 ? '审批不通过' : '他人已审批'}
                                td
                                    a.link(href='/order/approve_detail?edit=false&workOrderApplyId=' + order.workOrderApplyId) 查看
                                    a.link(style='margin-left:20px;' href='/order/approve_detail?edit=true&workOrderApplyId=' + order.workOrderApplyId) 编辑
            .content-bottom-handle
                button.btn.btn-default.btn-sm(type='button') 审批通过
                button.btn.btn-primary.btn-sm(type='button' style='margin-left:20px') 审批不通过







