extends ../components/base
block title
    title  会议室维护
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/conference/con_room',text:'会议室维护'},{link:'/conference/con_apply',text:'会议申请'},{link:'/conference/con_approve',text:'待我审批'},{link:'/conference/con_summary',text:'会议纪要'},{link:'/conference/con_history',text:'历史会议'},{link:'/conference/con_sign',text:'会议签到情况'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    +RouteNav('会议室维护')
    .condition
        .inline-group
            label(for='name') 会议室名称:
            input#name(type='text')
        .inline-group
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='searchSomething();') 查询
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='window.location.href="/conference/con_room_create"') 新建
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='deleteSomething("conference","meetingRoom")') 删除
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  会议室名称
                        td  容纳人数
                        td  会议室资源
                        td  操作
                tbody
                    if(confercences.length)
                        each conference in confercences
                            tr
                                td
                                    input(type='checkbox' data-id=conference.id)
                                td.link  #{conference.name}
                                td  #{conference.accommodatePeopleNumber}
                                td  #{conference.conferenceRoomResource}
                                td
                                    a.link(href="/conference/con_room_detail?edit=false&id="+conference.id) 查看
                                    a.link(style='margin-left:20px' href="/conference/con_room_detail?edit=true&id="+conference.id) 编辑
        if(rowsCount > 10)
            #pageInfo.pager(style="text-align:center" data-count=rowsCount)
block script
    script(type="text/javascript").
        initSearchInfo();




