extends ../components/base
block title
    title 待我审批
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/conference/con_room',text:'会议室维护'},{link:'/conference/con_apply',text:'会议申请'},{link:'/conference/con_approve',text:'待我审批'},{link:'/conference/con_summary',text:'会议纪要'},{link:'/conference/con_history',text:'历史会议'},{link:'/conference/con_sign',text:'会议签到情况'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    +RouteNav('待我审批')
    .condition
        .inline-group(style='margin:0')
            button.btn.btn-warning.btn-sm(type='button' onclick="window.open('/workflow/workflow_config?id=" + approveInfo.flowApproveUserId + "')") 审批流程查阅
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered(border="1" cellspacing="0" style='border:1px solid #ececec;width:750px')
                tr
                    td.em.fixed-width 会议名称
                    td #{approveInfo.title}
                    td.em.fixed-width 开始时间
                    td #{approveInfo.startTime}
                tr
                    td.em.fixed-width 发布人
                    td #{createNames}
                    td.em.fixed-width 会议室
                    td #{approveInfo.meetingRoomName}
                tr
                    td.em.multi.fixed-width 会议内容
                    td.multi(colspan='3') #{approveInfo.meetingContent}
                tr
                    td.em.multi.fixed-width 其他审批意见
                    td.multi(colspan='3')
                tr
                    td.em.fixed-width 审批意见
                    td(colspan='3')
                        input#option(type="text" value="" placeholder="请在这里填写您的审批意见" style="border：none;border:none;width:400px" autofocus)
            .content-bottom-handle
                input#flowApproveUserId(type="hidden" value=approveInfo.flowApproveUserId)
                button.btn.btn-default.btn-sm(type='button' onclick="approveSend(1);") 审批通过
                button.btn.btn-primary.btn-sm(type='button' onclick="approveSend(0);" style='margin-left:20px') 审批不通过





