extends ../components/base
block title
    title 会议发起
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/conference/con_room',text:'会议室维护'},{link:'/conference/con_apply',text:'会议申请'},{link:'/conference/con_approve',text:'待我审批'},{link:'/conference/con_summary',text:'会议纪要'},{link:'/conference/con_history',text:'历史会议'},{link:'/conference/con_sign',text:'会议签到情况'}]
    +asideNav(routerObj,1)
block main_content
    include ../components/mixin
    include ../components/contact
    +RouteNav('会议发起')
    #inner-wrapper
        .news-create
            .form-control
                label.control-label(for='title') 会议主题:
                input#title.form-control(type='text' value=conferenceDetail.title)
            .form-control
                label.control-label(for='startTimeString') 开始时间:
                input#startTimeString.form-control(type='text' value=conferenceDetail.startTime)
            .form-control
                label.control-label(for='endTimeString') 结束时间:
                input#endTimeString.form-control(type='text' value=conferenceDetail.endTime)
            .form-control
                label.control-label(for='meetingCreateUserId') 会议发起人:
                input#meetingCreateUserId.form-control(type='text' readonly value=createNames)
                if(isEdit)
                    i.icon.icon-add.addUser(data-type="create")
            .form-control
                label.control-label(for='withConferencePeopleId') 与会人员:
                input#withConferencePeopleId.form-control(type='text' readonly value=joinNames)
                if(isEdit)
                    i.icon.icon-add.addUser(data-type="join")
            .form-control
                label.control-label(for='meetingRoomId') 会议室:
                select#meetingRoomId
                    if(meetingRooms.length)
                        each room in meetingRooms
                            if(room.name === conferenceDetail.meetingRoomName)
                                option(value=room.id selected) #{room.name}
                            else
                                option(value=room.id) #{room.name}
            .form-control
                label.control-label(for='resource') 会议室资源:
                textarea#resource.form-control(rows=4) #{conferenceDetail.meetingRoomResource}
            .form-control
                label.control-label(for='summaryPeopleId') 会议纪要人员:
                input#summaryPeopleId.form-control(type='text' readonly value=summaryNames)
                if(isEdit)
                    i.icon.icon-add.addUser(data-type="summary")
            .form-control
                label.control-label(for='detail') 会议内容:
                textarea#detail.form-control(rows=10) #{conferenceDetail.meetingContent}
                input#choose_type(type="hidden" value="")
                input#selectCreateIds(type="hidden" value=conferenceDetail.meetingCreateUserId)
                input#selectJoinIds(type="hidden" value=conferenceDetail.withConferencePeopleId)
                input#selectSummaryIds(type="hidden" value=conferenceDetail.summaryPeopleId)
                input#choosePersonId(type="hidden" value="")
            if(isEdit)
                .form-control.btn-wrapper
                    input#meetingId(type="hidden" value=conferenceDetail.meetingId)
                    button#save_con.btn.btn-default.btn-sm(type='button') 发起会议
                    button.btn.btn-disable.btn-sm(type='button' onclick="history.go(-1);" style='margin-left:20px') 取消
    if(isEdit)
        #modal(style='display:none')
            +ContactBook
block script
    script(src=__JS_PATH__ + "/conference.js" type="text/javascript")
    script(type="text/javascript").
        var contactCreate = function () {
            var addUser = function () {
                $('.addUser').on('click', function () {
                    layerShow('modal');
                    var choose_type = $(this).attr("data-type");
                    $("#choose_type").val(choose_type);
                    var choosePersonId = $("#choosePersonId");
                    if(choose_type === 'create'){
                        choosePersonId.val($('#selectCreateIds').val());
                    }else{
                        if(choose_type === 'join'){
                            choosePersonId.val($("#selectJoinIds").val());
                        }else{
                            choosePersonId.val($("#selectSummaryIds").val());
                        }
                    }
                    //每次进去初始化下数据
                    console.log(choosePersonId.val());
                    initChooseInfo();
                })
            };

            var addConfirm = function () {
                $('.addConfirm').on('click', function () {
                    layerCloseAll();
                })
            };

            return {
                init: function () {
                    addUser();
                    addConfirm();
                }
            }
        }();
        contactCreate.init();




