extends ../components/base
block title
    title 已收邮件
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/mail/mail_create',text:'发送邮件'},{link:'/mail/mail_send',text:'已发邮件'},{link:'#',text:'已收邮件'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    +RouteNav('已收邮件')
    .condition
        .inline-group
            label(for='date') 发送时间:
            input#date(type='text')
        .inline-group
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='searchSomething();') 查询
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='window.location.href="/mail/mail_create"') 新建
            button.btn.btn-default.btn-sm(type='button' onclick='deleteSomething("mail","receive")') 删除
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布时间
                        td  发送人
                        td  操作
                tbody
                    if(mails.length)
                        each mail in mails
                            tr
                                td
                                    input(type='checkbox' data-id=mail.sendMailId)
                                td.link  #{mail.title}
                                td  #{mail.sendTime}
                                td  #{mail.sendName}
                                td
                                    a.link(href='/mail/mail_detail?edit=false&sendMailId=' + mail.sendMailId) 查看
                                    a.link(style='margin-left:20px;' href='/mail/mail_detail?edit=true&sendMailId=' + mail.sendMailId) 编辑
        if(rowsCount > 10)
            #pageInfo.pager(style="text-align:center" data-count=rowsCount)
block script
    script(type="text/javascript").
        initSearchInfo();








