extends ../components/base
block title
    title 个人中心
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'#',text:'个人中心',icon:'icon-user'},{link:'/user/change_pass',text:'修改密码',icon:'icon-lock'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    +RouteNav('个人中心')
    #inner-wrapper
        form(action="/user/user_save" method="post").news-create
            .form-control
                label.control-label(for='name') 姓名:
                input#name.form-control(type='text' name="name" value=user.name)
            .form-control
                label.control-label(for='email') 邮箱:
                input#email.form-control(type='text' name="email" value=user.email)
            .form-control
                label.control-label(for='phone') 联系方式:
                input#phone.form-control(type='text' name="phone" value=user.phone)
            .form-control
                label.control-label(for='detpName') 所属部门:
                input#detpName.form-control(type='text' name="detpName" value=user.detpName)
            .form-control
                button.btn.btn-default.btn-sm(type='submit') 修改
                button.btn.btn-default.btn-sm(type='button' onclick="history.go(-1);" style='margin-left:20px') 取消










