extends ../components/base
block title
    title 消息
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    link(rel='stylesheet', href=__CSS_PATH__ + '/message.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,1)
block common_header
    include ../components/header
    +commonheader(0)
block main_content
    include ../components/mixin
    +RouteNav('消息')
    #message(style="margin-top:5px")
        .aside-wrapper
            .message-nav.active
                .intro
                    .icon-wrapper.notice
                        i.icon.icon-sound
                    .name 新闻
                .time 10:02
            .message-nav
                .intro
                    .icon-wrapper.notice
                        i.icon.icon-sound
                    .name 公文
                .time 20:59
            .message-nav
                .intro
                    .icon-wrapper.document
                        i.icon.icon-envelope
                    .name 公告
                .time 15:31
        .dialog-wrapper.newsList
            div.section-block(style="min-height:600px;")
                table.table.table-bordered
                    thead
                        tr
                            td  标题
                            td  发布人
                            td  发布时间
                    tbody
                        if(newsMessages.length)
                            each news in newsMessages
                                tr
                                    td  #{news.title}
                                    td  #{news.publicName}
                                    td  #{news.publicTime}
        .dialog-wrapper.newsList(style="display:none;")
            div.section-block(style="min-height:600px;")
                table.table.table-bordered
                    thead
                        tr
                            td  标题
                            td  发布人
                            td  发布时间
                    tbody
                        if(documentMessages.length)
                            each document in documentMessages
                                tr
                                    td  #{document.title}
                                    td  #{document.publicName}
                                    td  #{document.publicTime}
        .dialog-wrapper.noticeList(style="display:none;")
            div.section-block(style="min-height:600px;")
                table.table.table-bordered
                    thead
                        tr
                            td  标题
                            td  发布人
                            td  发布时间
                    tbody
                        if(noticeMessages.length)
                            each notice in noticeMessages
                                tr
                                    td  #{notice.title}
                                    td  #{notice.publicName}
                                    td  #{notice.publicTime}
block script
    script(type="text/javascript").
        $(".message-nav").on('click',function () {
            var allNav = $(".message-nav");
            allNav.removeClass("active");
            $(this).addClass("active");
            //获取点击的index
            var index = $(this).index();
            var allDialog = $(".dialog-wrapper");
            allDialog.hide();
            allDialog.eq(index).show();
        });