extends ../components/base
block title
    title 应用添加

block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_manage',text:'对接系统管理'},{link:'/setting/app_manage',text:'第三方应用系统管理'}]
    +menuLink(menuObj,2)
    -var navObj = [{link:'/setting/app_manage',text:'应用管理'},{link:'/setting/app_permission',text:'应用查看'}]
    +menuNav(navObj,0)
    +RouteNav('应用管理')
    #inner-wrapper
        form.news-create(action='/setting/contact_save' method='post')
            .form-control
                label.control-label(for='sysName') 应用名称:
                input#sysName.form-control(type='text' name='name' value=appInfo.name)
            .form-control
                label.control-label(for='source') 上传人:
                input#source.form-control(type='text' name='uploaderName' value=appInfo.uploaderName)
            .form-control
                label.control-label(for='date') 上传时间:
                input#date.form-control(type='text' name='uploadTime' value=appInfo.uploadTime)
            .form-control
                label.control-label(for='file') 程序上传:
                input#file.form-control(type='file' name='file')
            .form-control.btn-wrapper
                input#id.form-control(type='hidden' name='id' value=appInfo.id)
                button.btn.btn-default.btn-sm(type='submit') #{edit ? '保存' : '添加'}
                button.btn.btn-disable.btn-sm(type='button' style='margin-left:20px') 取消










