extends ../components/base
block title
    title 第三方应用管理
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_manage',text:'对接系统管理'},{link:'/setting/app_manage',text:'第三方应用系统管理'},{link:'/setting/data_service',text:'数据服务管理'}]
    +menuLink(menuObj,2)
    -var navObj = [{link:'/setting/app_manage',text:'应用管理'},{link:'/setting/app_permission',text:'应用查看'}]
    +menuNav(navObj,0)
    +RouteNav('第三方应用列表')
    .condition
        .inline-group
            label(for='title') 应用名称:
            input#title(type='text')
        .inline-group
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='deleteSomething("app","app")') 删除
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='window.location.href="/setting/app_create"') 新建
            button.btn.btn-default.btn-sm(type='button' onclick='searchSomething();') 查询
        form#exeFileUpload.hide
            input#exeFile(type="file" style="display:none;" name="file" value)
            input#id(type="hidden" name="id" value="")
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  应用名称
                        td  上传人
                        td  所属部门
                        td  上传时间
                        td  操作
                tbody
                    if(apps.length)
                        each app in apps
                            tr
                                td
                                    input(type='checkbox' data-id=app.id)
                                td.link  #{app.name}
                                td  #{app.uploaderName}
                                td  #{app.deptNames}
                                td  #{app.uploadTime}
                                td
                                    button.link.btn.btn-default.btn-sm(onclick="uploadExeFile('"+app.id+"');") 上传程序
block script
    script(type="text/javascript").
        function uploadExeFile(id) {
            if(id){
                $('#id').val(id);
            }else{
                layerAlert("获取上传ID失败","error");
                return;
            }
            //开始上传逻辑,先选则文件
            $("#exeFile").click();
        }

        $("#exeFile").on("change",function (e) {
            var form = new FormData(document.getElementById('exeFileUpload'));
            $.ajax({
                url: "/setting/app_exeUpload",
                type: "post",
                data: form,
                processData: false,
                contentType: false,
                success: function (data) {
                    var resObj = JSON.parse(data);
                    console.log(data);
                    if (resObj.code === 1) {
                        layerAlert("上传文件成功", "ok");
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000)
                    } else {
                        layerAlert("上传文件失败：" + resObj.msg, "error");
                        window.location.reload();
                    }
                },
                error: function (e) {
                    layerAlert("网络错误，请稍后再试", "error");
                }
            });
        });


