extends ../components/base
block title
    title 应用添加
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_manage',text:'对接系统管理'},{link:'/setting/app_manage',text:'第三方应用系统管理'},{link:'/setting/data_service',text:'数据服务管理'}]
    +menuLink(menuObj,1)
    -var navObj = [{link:'/setting/contact_manage',text:'应用配置'},{link:'/setting/contact_config',text:'应用权限配置'}]
    +menuNav(navObj,0)
    +RouteNav('页面添加')
    #inner-wrapper
        form.news-create(action='/setting/contact_save' method='post')
            .form-control
                label.control-label(for='sysName') 中文名称:
                input#sysName.form-control(type='text' name='name' value=webInfo.name)
            .form-control
                label.control-label(for='source') URL地址:
                input#source.form-control(type='text' name='indexUrl' value=webInfo.indexUrl)
            .form-control
                label.control-label(for='order') 应用排序:
                input#order.form-control(type='text' name='sortNum' value=webInfo.sortNum)
            .form-control
                label.control-label(for='description') 应用描述:
                textarea#description.form-control(rows='8' name='descText') #{webInfo.descText}
            .form-control.btn-wrapper
                input#id.form-control(type='hidden' name='id' value=webInfo.id)
                button.btn.btn-default.btn-sm(type='submit') #{edit ? '保存' : '添加'}
                button.btn.btn-disable.btn-sm(type='button' onclick="history.go(-1);" style='margin-left:20px') 取消










