extends ../components/base
block title
    title 应用管理
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_manage',text:'对接系统管理'},{link:'/setting/app_manage',text:'第三方应用系统管理'},{link:'/setting/data_service',text:'数据服务管理'}]
    +menuLink(menuObj,3)
    -var navObj = [{link:'/setting/data_service',text:'数据服务'}]
    +menuNav(navObj,1)
    +RouteNav('接口权限配置')
    #inner-wrapper
        form.news-create(action='/setting/data_service_save' method='post')
            .form-control
                label.control-label(for='name') 中文名称:
                input#name.form-control(type='text' name='name' value=apiInfo.name)
            .form-control
                label.control-label(for='indexUrl') URL:
                input#indexUrl.form-control(type='text' name='indexUrl' value=apiInfo.indexUrl)
            .form-control
                label.control-label(for='descText') 接口描述:
                input#descText.form-control(type='text' name='descText' value=apiInfo.descText)
            .form-control
                label.control-label(for='clientKey') Client Key:
                input#clientKey.form-control(type='text' name='clientKey' value=apiInfo.clientKey)
            .form-control
                label.control-label(for='clientSecret') Client Key:
                input#clientSecret.form-control(type='text' name='clientSecret' value=apiInfo.clientSecret)
            .form-control
                label.control-label(for='openStatus') 接口开放:
                input#openStatus.form-control(type='hidden' name='openStatus' value=apiInfo.openStatus)
                if(apiInfo.openStatus === "open")
                    button.statusBtn.btn.btn-default.btn-sm(type='button' data-status="open") 开
                    button.statusBtn.btn.btn-disable.btn-sm(type='button' style='margin-left:20px' data-status="close") 关
                else
                    button.statusBtn.btn.btn-disable.btn-sm(type='button'  data-status="open") 开
                    button.statusBtn.btn.btn-default.btn-sm(type='button' style='margin-left:20px' data-status="close") 关
            .form-control
                label.control-label(for='apis') 接口列表:
                input#apis.form-control(type='hidden' name='apis' value=apiInfo.apis)
                if(apiList.length)
                    each api in apiList
                        if(apiInfo.apis.indexOf(api.id))
                            input(type="checkbox" checked value=api.id style="min-width:15px;width:15px;")
                        else
                            input(type="checkbox" value=api.id style="min-width:15px;width:15px;")
                        span(style="width: 60px;display: block;min-width: 80px;") #{api.name}
            .form-control.btn-wrapper
                input#id.form-control(type='hidden' name='id' value=apiInfo.id)
                button.btn.btn-default.btn-sm(type='submit') 保存
                button.btn.btn-disable.btn-sm(type='button' style='margin-left:20px') 取消
block script
    script(type="text/javascript").
       $(".statusBtn").on('click',function (e) {
           var chooseStatus = $(this).attr("data-status");
           $("#openStatus").val(chooseStatus);
           $(".statusBtn").removeClass("btn-default").addClass("btn-disable");
           $(this).removeClass("btn-disable").addClass("btn-default");
       })