extends ../components/base
block title
    title 日志管理
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_manage',text:'对接系统管理'},{link:'/setting/app_manage',text:'第三方应用系统管理'},{link:'/setting/data_service',text:'数据服务管理'}]
    +menuLink(menuObj,0)
    -var navObj = [{link:'/setting/organization_manage',text:'组织机构管理'},{link:'/setting/user_manage',text:'用户管理'},{link:'/setting/role_manage',text:'角色权限管理'},{link:'/setting/region_manage',text:'行政区划分'},{link:'#',text:'日志管理'}]
    +menuNav(navObj,4)
    .condition
        .inline-group
            label(for='userName') 用户名称:
            input#userName(type='text')
        .inline-group
            label(for='date') 操作日期:
            input#date(type='text')
        .inline-group
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px' onclick="searchSomething();") 检索
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px' onclick="deleteSomething('setting','log')") 删除
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  用户名
                        td  操作内容
                        td  操作时间
                tbody
                    if(logList.length)
                        each log in logList
                            tr
                                td
                                    input(type='checkbox' data-id=log.id)
                                td.link  #{log.userName}
                                td  #{log.op}
                                td  #{log.opTime}
        if(rowsCount > 10)
            #pageInfo.pager(style="text-align:center" data-count=rowsCount)
block script
    script(type="text/javascript").
        initSearchInfo();