extends ../components/base
block title
    title 组织机构新增
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_manage',text:'对接系统管理'},{link:'/setting/app_manage',text:'第三方应用系统管理'}]
    +menuLink(menuObj,0)
    -var navObj = [{link:'/setting/organization_manage',text:'组织机构管理'},{link:'/setting/user_manage',text:'用户管理'},{link:'/setting/role_manage',text:'角色权限管理'},{link:'/setting/region_manage',text:'行政区划分'},{link:'/setting/log_manage',text:'日志管理'}]
    +menuNav(navObj,0)
    +RouteNav('组织机构新增')
    #inner-wrapper
        form.news-create(action="/setting/organization_save" method="post")
            .form-control
                label.control-label(for='name') 部门名称:
                input#name.form-control(type='text' name="name" value=depInfo.label)
            .form-control
                label.control-label(for='parentId') 上级部门:
                input#parent.form-control(type='text' name="parent" readonly value=depName)
            .form-control
                label.control-label(for='sortNum') 排序:
                input#sortNum.form-control(type='text' name="sortNum" value=depInfo.sortNum)
                input#parentId(type='hidden' name='parentId' value=pId)
                input#id(type='hidden' name='id' value=curId)
            .form-control.btn-wrapper
                button.btn.btn-default.btn-sm(type='submit') 保存
                button.btn.btn-disable.btn-sm(type='button' onclick="window.location.href='/setting/organization_manage'" style='margin-left:20px') 取消