extends ../components/base
block title
    title 角色新建
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_addpage',text:'对接系统管理'},{link:'/setting/app_create',text:'第三方应用系统管理'}]
    +menuLink(menuObj,0)
    -var navObj = [{link:'/setting/organization_manage',text:'组织机构管理'},{link:'/setting/user_manage',text:'用户管理'},{link:'#',text:'角色权限管理'},{link:'/setting/region_manage',text:'行政区划分'},{link:'/setting/log_manage',text:'日志管理'}]
    +menuNav(navObj,2)
    +RouteNav('角色新建')
    #inner-wrapper
        .news-create
            .form-control
                label.control-label(for='role') 角色名称:
                input#role.form-control(type='text')
            .form-control
                label.control-label 人员选择:
            .role-control(style="margin-top: -40px;")
                .user-list.option-user
                    .list-title
                        i.icon-down
                        .title-item.all
                            span.title-tab 按照人员选择
                        .title-item.dep(style="display:none")
                            span.title-tab 按照部门选择
                    .list-wrapper.allUserOption
                        if(usersList.length)
                            each user in usersList
                                .list-item(data-person-id=user.id data-person-name=user.name) #{user.name}
                .role-handle
                    button.work-btn.work-btn-default.work-btn-sm#addSelectUser(type='button' data-type='user') 添加>
                    br
                    button.work-btn.work-btn-default.work-btn-sm#deleteSelectUser(type='button' data-type='user') <删除
                .user-list.select-user
                    .list-title(style='text-align:center;')
                        .title-item
                            span 已选人员
                    .list-wrapper.selectedBox
            input#choosePersonId(type="hidden" value="1,2,3" name="choosePersonId")
            input#roleId(type='hidden' value=userId name="roleId")
            .form-control.btn-wrapper
                button#addConfirm.btn.btn-default.btn-sm(type='button') 保存
                button.btn.btn-disable.btn-sm(type='button' onclick="window.location.href='/setting/role_manage'" style='margin-left:20px') 取消
block script
    script(type="text/javascript").
        $(document).ready(function () {
            var choosePersonId = $('#choosePersonId');
            if (choosePersonId.length) {
                var chooseArr = choosePersonId.val().split(",");
                //先去掉在左边的人
                var chooseNames = [];
                chooseArr.forEach(function (data, index) {
                    var chooseItem = $('.list-wrapper.allUserOption').find("div[data-person-id=" + data + "]");
                    $('.list-wrapper.selectedBox').append(chooseItem.clone().bind('click',clickItem));
                    chooseNames.push(chooseItem.attr("data-person-name"))
                    chooseItem.remove();
                });
                if ($('#approver').length) {
                    $('#approver').val(String(chooseNames));
                } else {
                    console.log("没找到啊")
                }
            }
        });

        $('.list-title i.icon-down').on('click', function () {
            $('.title-item').show()
        })
        $('.title-item').on('click', function () {
            console.log($('.title-item'))
            $(this).siblings('.title-item').hide()
            if ($(this).hasClass('all')) {
                $('.allUserOption').show()
                $('.departmentUserOption').hide()
                $('#addSelectUser').attr('data-type', 'user')
                $('#deleteSelectUser').attr('data-type', 'user')
            } else {
                $('.allUserOption').hide()
                $('.departmentUserOption').show()
                $('#addSelectUser').attr('data-type', 'dp')
                $('#deleteSelectUser').attr('data-type', 'dp')
            }
        });
        var clickItem = function () {
            $('.list-item').on('click', function () {
                $('.list-item').removeClass("active");
                $(this).addClass("active");
            });
        }

        clickItem();

        $('#addSelectUser').click(function () {
            if ($(this).attr('data-type') == 'user') {
                var selectList = $('.list-wrapper.allUserOption').find('.list-item.active')
                if (selectList.length == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('嗨，先选人呐');
                    });
                } else {
                    selectList = selectList.removeClass("active");
                    $('.selectedBox').append(selectList);
                }
            } else {
                var selectDPList = $('.departmentUserOption').find(".selectDP");
                if (selectDPList.length == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('还没有选择部门');
                    });
                } else {
                    selectDPList = selectDPList.removeClass("selectDP").addClass("chooseDP");
                    $('.selectedBox').append(selectDPList);
                }
            }
        });

        $('#deleteSelectUser').click(function () {
            if ($(this).attr('data-type') == 'user') {
                var selectedList = $('.list-wrapper.selectedBox').find(".list-item.active")
                if (selectedList.length == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('嗨，先选人呐');
                    });
                } else {
                    selectedList = selectedList.removeClass("active");
                    $('.list-wrapper.allUserOption').append(selectedList);
                }
            } else {
                var selectDPList = $('.list-wrapper.selectedBox').find(".selectDP");
                if (selectDPList.length == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('还没有选择部门');
                    });
                } else {
                    selectDPList = selectDPList.removeClass("chooseDP").removeClass("selectDP")
                    $('.departmentUserOption').append(selectDPList);
                }
            }

        });

        $('.close-node').on('click', function (e) {
            if ($(this).hasClass('open-node')) {
                $(this).removeClass('open-node').addClass('close-node').find('ul').first().hide()
            } else {
                $(this).removeClass('close-node').addClass('open-node').find('ul').first().show()
            }
            $('.structure').find('li').removeClass('selectDP');
            $(this).addClass('selectDP');
            e.stopPropagation();//阻止冒泡
        });


        $('.addCancel').on('click', function () {
            layerCloseAll();
        })

        $('#addConfirm').on('click', function () {
            var personIDs = $('.selectedBox').find(".list-item");
            var personIDArr = [];
            var chooseNameArr = [];
            for (var i = 0; i < personIDs.length; i++) {
                var personID = personIDs[i].getAttribute("data-person-id");
                var personName = personIDs[i].getAttribute("data-person-name");
                personIDArr.push(personID);
                chooseNameArr.push(personName);
            }
            $('#choosePersonId').val(String(personIDArr));

            //ajax提交
            var roleId = $('#roleId').val();
            var name = $('#role').val();
            var usersId = String(personIDArr);
            function goBack() {
                window.location.href = "/setting/role_manage";
            }
            $.post("/setting/role_save",{id:roleId,name:name,usersId:usersId},function (data) {
                if(data.code === 1){
                    layerAlert("操作成功！！",'ok',goBack);
                }else{
                    layerAlert(data.msg,'error');
                }
            },'json')
        })




