extends ../components/base
block title
    title 单位网盘
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'#',text:'单位网盘'},{link:'/netdisk/company_disk_parson',text:'个人网盘'}]
    +asideNav(routerObj,0)
block common_header
    include ../components/header
    +commonheader(2)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
        .diskFileName:hover{
            cursor: pointer;
            color: #0e90d2;
        }
block main_content
    include ../components/mixin
    +RouteNav('回收站')
    .condition
        .inline-group
            button.btn.btn-default.btn-sm(type='button' onclick="uploadFileToDisk();") 上传
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="createNewFolder('"+ pKey +"');") 新建文件夹
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="downloadFile('"+ pKey +"');") 下载
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="shareFile();") 分享
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="window.location.href='/netdisk/company_disk_recycle'") 回收站
        form#uploadForm.hide(action="http://jtj.yewufeifei.com/web/netDisk/upload" method="post" enctype="multipart/form-data")
            input#uploadFile(type="file" style="display:none" name="file")
            input#authData(type="hidden" name="WJ-AUTH" value=authData)
            input#pkey(type="hidden" name="pkey" value=String(pKey))
            input(type="hidden" name="type" value=1)
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered.disk-table
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  文件名
                        td  大小
                        td  修改时间
                        td  操作
                tbody
                    if(diskList.length)
                        each disk in diskList
                            tr
                                td
                                    input(type='checkbox' data-id=disk.key)
                                td
                                    i(class="icon icon-" + disk.icon_type)
                                    span.diskFileName(data-key=disk.key data-isDir=disk.isDir) #{disk.name}
                                td  #{disk.fileSize}
                                td  #{disk.uploadTime}
                                td
                                    button.btn.btn-sm.btn-warning 删除
block script
    script(type="text/javascript" src=__JS_PATH__ + "/netdisk.js")