extends ../components/base
block title
    title 单位网盘
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'#',text:'单位网盘'},{link:'/netdisk/company_disk_parson',text:'个人网盘'}]
    +asideNav(routerObj,0)
block common_header
    include ../components/header
    +commonheader(2)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
        .diskFileName:hover{
            cursor: pointer;
            color: #0e90d2;
        }
block main_content
    include ../components/mixin
    +RouteNav('回收站')
    .condition
        .inline-group
            button.btn.btn-default.btn-sm(type='button' onclick="uploadFileToDisk();") 上传
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="createNewFolder('"+ pKey +"');") 新建文件夹
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="shareFile();") 分享
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="history.go(-1);") 返回上一层
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="window.location.href='/netdisk/company_disk_recycle'") 回收站
    form#uploadForm.hide(action="/netdisk/uploadFile" method="post" enctype="multipart/form-data")
            input#uploadFile(type="file" style="display:none" name="file")
            input#pkey(type="hidden" name="pkey" value=String(pKey))
            input(type="hidden" name="type" value=1)
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered.disk-table
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  文件名
                        td  大小
                        td  修改时间
                        td  操作
                tbody
                    if(diskList.length)
                        each disk in diskList
                            tr
                                td
                                    input(type='checkbox' data-id=disk.key)
                                td
                                    i(class="icon icon-" + disk.icon_type)
                                    span.diskFileName(data-key=disk.key data-isDir=disk.isDir) #{disk.name}
                                td  #{disk.fileSize}KB
                                td  #{disk.uploadTime}
                                td
                                    button.btn.btn-sm.btn-warning(onclick="deleteDiskFile('"+ disk.key +"')") 删除
                                    if(disk.isDir !== 1)
                                        button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="downloadFile('"+ disk.key +"');") 下载

    #newFolderDiv.newFolder(style="display:none;margin-top:20px;text-align:center;")
        label(for='newFolder') 文件夹名称：
        input#newFolder(type="text" value="")
        input#newFolderType(type="hidden" value="1")
block script
    script(type="text/javascript" src=__JS_PATH__ + "/netdisk.js")