extends ../components/base
block title
    title 添加桌面应用
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,0)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    +RouteNav('桌面应用添加')
    #inner-wrapper
        .news-create
            .form-control(style="background-color:#f2f0f0;height:40px;padding:10px 10px 10px 10px;")
                label.col-sm-2.control-label 已选应用
            .module-nav
                ul.nav-body.clearfix
                    li
                        a(href='javascript:window.open("/mail/mail_receive")' target="_blank")
                            .img-wrapper
                                img(src=__IMAGES_PATH__ + '/mail.png')
                            span 邮箱
                    li
                        a(href='javascript:window.open("/order/order_mine")' target="_blank")
                            .img-wrapper
                                img(src=__IMAGES_PATH__ + '/function.png')
                            span 工单
                    li
                        a(href='javascript:window.open("/conference/con_history")' target="_blank")
                            .img-wrapper
                                img(src=__IMAGES_PATH__ + '/conference.png')
                            span 会议管理

            .form-control(style="background-color:#f2f0f0;height:40px;padding:10px 10px 10px 10px;")
                label.col-sm-2.control-label 系统功能
            .module-nav
                ul.nav-body.clearfix
                    li
                        a(href='javascript:window.open("/mail/mail_receive")' target="_blank")
                            .img-wrapper
                                img(src=__IMAGES_PATH__ + '/mail.png')
                            span 邮箱
                    li
                        a(href='javascript:window.open("/order/order_mine")' target="_blank")
                            .img-wrapper
                                img(src=__IMAGES_PATH__ + '/function.png')
                            span 工单
                    li
                        a(href='javascript:window.open("/conference/con_history")' target="_blank")
                            .img-wrapper
                                img(src=__IMAGES_PATH__ + '/conference.png')
                            span 会议管理

