extends ../components/base
block title
    title 消息
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/im/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,1)
block main_content
    #chat-wrapper(style='min-height:800px;position:relative;')
        section(id='main').w100
            article(id='demo')
            article(id='components')
    style.
        .webim-msg-container .webim-avatar-icon.small{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            overflow: hidden;
        }

        .webim-msg-container .left .webim-msg-value {
            background-color: #eeeeee;
            color: #666666;
        }
        .webim-msg-container .left .webim-msg-icon,.webim-msg-container .right .webim-msg-icon {
            display: none;
        }
        .webim-msg-container .left .webim-msg-value>pre {
            color: #666666;
        }

        .webim-msg-container .left > p ,.webim-msg-container .right > p{
           font-size: 10px;
        }
        .webim-msg-container .right .webim-msg-value {
            background-color: #2f9ff2;
        }

        .webim-msg-container .right .webim-msg-value>pre{
            color: #ffffff;
        }

block script
    script(src=__PLUGINS_PATH__ + '/webim/browser-polyfill.min.js')
    script(src=__PLUGINS_PATH__ + '/webim/webim.config.js')
    //再执行初始化之前我要先登录
    script(type="text/javascript").
        WebIM.config.autoSignInName = '306223558z1';
        WebIM.config.autoSignInPwd = '123123';
    //script(src=__JS_PATH__ + '/webim/strophe-1.2.8.js')
    script(type="text/javascript" src= __PLUGINS_PATH__ + "/webim/strophe-1.2.8.js")
    script(src=__PLUGINS_PATH__ + '/webim/websdk-1.4.13.js')
    script(type="text/javascript").
        if (WebIM.config.isWebRTC) {
            document.write("<script src='./webrtc/dist/adapter.js'><\/script>");
            document.write("<script src='./webrtc/dist/webrtc-1.4.13.js'><\/script>");
        }
    script(src=__PLUGINS_PATH__ + "/webim/swfupload/swfupload.min.js")
    script(src=__PLUGINS_PATH__ + "/webim/demo-1.4.13.js")
