extends ../components/base
block title
    title 待我审批
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/news/news_list',text:'新闻查阅'},{link:'/news/news_manage',text:'新闻管理'},{link:'/news/news_category',text:'分类管理'},{link:'/news/news_create',text:'发布新闻'},{link:'#',text:'待我审批'}]
    +asideNav(routerObj,4)
block main_content
    include ../components/mixin
    +RouteNav('待我审批')
    .condition
        .inline-group
            label(for='title') 主题:
            input#title(type='text')
        .inline-group
            label(for='readStatus') 新闻状态:
                select#readStatus
                    option(value) 请选择
                    option(value="0") 未阅读
                    option(value="1") 已阅读
        .inline-group
            label(for='date') 发布时间:
            input#date(type='text')
        .inline-group
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px' onclick="searchSomething();") 查询
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="window.location.href='/news/news_create'") 新建
            button.btn.btn-default.btn-sm(type='button') 删除
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布人
                        td  新闻类型
                        td  发布时间
                        td  发布状态
                        td  操作
                tbody
                    if(newsList.length)
                        each news in newsList
                            tr
                                td
                                    input(type='checkbox')
                                td.link #{news.title}
                                td  #{news.publicName}
                                td  #{news.journalismTypeName}
                                td  #{news.publicTime}
                                td  #{news.approveStatus == 1 ? '已审核' : '未审核'}
                                td
                                    a.link(href="/news/news_approveDetail?flowApproveUserId="+news.flowApproveUserId) 查看
                                    if(news.approveStatus == 0)
                                        a.link(style="margin-left:20px;")  审核



        if(rowsCount > 10)
            #pageInfo.pager(style="text-align:center" data-count=rowsCount)
block script
    script(type="text/javascript").
        initSearchInfo();