extends ../components/base
block title
    title 新闻阅览
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'#',text:'新闻查阅'},{link:'/news/news_manage',text:'新闻管理'},{link:'/news/news_category',text:'分类管理'},{link:'/news/news_create',text:'发布新闻'},{link:'/news/news_approve',text:'待我审批'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    +RouteNav('新闻查阅')
    .condition
        .inline-group
            label(for='title') 主题:
            input#title(type='text')
        .inline-group
            label(for='readStatus') 新闻状态:
            select#readStatus
                option(value) 请选择
                option(value="0") 未阅读
                option(value="1") 已阅读
        .inline-group
            label(for='date') 发布时间:
            input#date(type='text')
        .inline-group
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='deleteSomething("news","news")') 删除
            button.btn.btn-default.btn-sm(type='button' onclick='searchSomething();') 查询
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布人
                        td  发布时间
                        td  新闻状态
                        td  操作
                tbody
                    if(newsList.length)
                        each news in newsList
                            tr
                                td
                                    input(type='checkbox' data-id=news.journalismId)
                                td  #{news.title}
                                td  #{news.publicName}
                                td  #{news.publicTime}
                                td  #{news.readStatus ? '已阅读' : '未阅读'}
                                td
                                    a.link(href='/news/news_detail?journalismId=' + news.journalismId) 查看

        if(rowsCount > 10)
            #pageInfo.pager(style="text-align:center" data-count=rowsCount)
block script
    script(type="text/javascript").
        initSearchInfo();