extends ../components/base
block title
    title 新闻管理
block style
    link(rel='stylesheet', href= __CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/news/news_list',text:'新闻查阅'},{link:'#',text:'新闻管理'},{link:'/news/news_category',text:'分类管理'},{link:'/news/news_create',text:'发布新闻'},{link:'/news/news_approve',text:'待我审批'}]
    +asideNav(routerObj,1)
block main_content
    include ../components/mixin
    +RouteNav('新闻管理')
    #inner-wrapper
        header.head-block
            .handle
                button.btn.btn-sm.btn-default(type='button' style='margin-right:20px' onclick="window.location.href='/news/news_create'") 新建
                button.btn.btn-sm.btn-default(type='button' style='margin-left:20px' onclick='deleteSomething("news","news")') 删除
        div.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布人
                        td  发布时间
                        td  新闻状态
                        td  操作
                tbody
                    if(newsList.length)
                        each news in newsList
                            tr
                                td
                                    input(type='checkbox' data-id=news.journalismId)
                                td  #{news.title}
                                td  #{news.publicName}
                                td  #{news.publicTime}
                                td  #{news.readStatus ? '已阅读' : '未阅读'}
                                td
                                    a.link(href='/news/news_detail?edit=true&journalismId=' + news.journalismId) 编辑







