extends ../components/base
block title
    title 公告管理
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/notice/notice_list',text:'公告查阅'},{link:'/notice/notice_create',text:'公告发布'},{link:'#',text:'公告管理'},{link:'/notice/notice_approve',text:'待我审批'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    +RouteNav('公告')
    .condition
        .inline-group
            label(for='newsTheme') 主题:
            input#newsTheme(type='text')
        .inline-group
            span(style='margin-right:10px') 公文状态:
            input#unread(type='radio' name='read' checked style='margin-right:10px')
            label(for='unread' style='margin-right:25px') 未阅读
            input#read(type='radio' name='read' style='margin-right:10px')
            label(for='read') 已阅读
        .inline-group
            label(for='date') 发布时间:
            input#date(type='text')
        .inline-group
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px') 查询
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 新建
            button.btn.btn-default.btn-sm(type='button' onclick='deleteSomething("notice","notice")') 删除
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布人
                        td  发布时间
                        td  审核状态
                        td  操作
                tbody
                    if(noticesList.length)
                        each notice in noticesList
                            tr
                                td
                                    input(type='checkbox' data-id=notice.announcementId)
                                td.link  #{notice.title}
                                td  #{notice.publicName}
                                td  #{notice.publicTime}
                                td  #{notice.approveStatus ? '是' : '否' }
                                if(!notice.approveStatus)
                                    td
                                        a.link  审核
                                        a.link(style='margin-left:20px;' href='/notice/notice_detail?edit=false&announcementId='+notice.announcementId) 查看




