extends ../components/base
block title
    if(isEdit)
        title 公告查看
    else
        title 公告发布
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/notice/notice_list',text:'公告查阅'},{link:'#',text:'公告发布'},{link:'/notice/notice_manage',text:'公告管理'},{link:'/notice/notice_approve',text:'待我审批'}]
    +asideNav(routerObj,1)
block main_content
    include ../components/mixin
    include ../components/contact
    if(isEdit)
        +RouteNav('公告查看')
    else
        +RouteNav('公告发布')
    #inner-wrapper
        .news-create
            if(noticeDetail.title)
                .form-control
                    label.control-label(for='title') 标题:
                    input#title.form-control(type='text' value=noticeDetail.title)
                .form-control
                    label.control-label(for='creator') 发布人:
                    input#creator.form-control(type='text' value=noticeDetail.publicName)
                .form-control
                    label.control-label(for='publicTime') 发布时间:
                    input#date.form-control(type='text' value=noticeDetail.publicTime)
                .form-control
                    label.control-label(for='lookUpPersonId') 查阅人员:
                    input#approver.form-control(type='text' readonly value=noticeDetail.userlist)
                    if(isEdit)
                        i.icon.icon-add#addUser
                .form-control
                    label.control-label(for='content') 发布内容:
                    textarea#content.form-control(rows=10) #{noticeDetail.content}
                input(type="hidden" name="announcementId" value=announcementId)
            else
                .form-control
                    label.control-label(for='title') 标题:
                    input#title.form-control(type='text')
                .form-control
                    label.control-label(for='creator') 发布人:
                    input#creator.form-control(type='text')
                .form-control
                    label.control-label(for='date') 发布时间:
                    input#date.form-control(type='text')
                .form-control
                    label.control-label(for='lookUpPersonId') 查阅人员:
                    input#approver.form-control(type='text' readonly)
                    if(isEdit)
                        i.icon.icon-add#addUser
                .form-control
                    label.control-label(for='content') 发布内容:
                    textarea#content.form-control(rows=10)
            if(isEdit)
                .form-control.btn-wrapper
                    button#notice_save.btn.btn-default.btn-sm(type='button') 发布
                    button.btn.btn-disable.btn-sm(type='button' style='margin-left:20px') 取消
    #modal(style='display:none')
        +ContactBook
block script
    script(src=__JS_PATH__ + "/notice.js" type="text/javascript")





