extends ../components/base
block title
    title 公告管理
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/notice/notice_list',text:'公告查阅'},{link:'/notice/notice_create',text:'公告发布'},{link:'#',text:'公告管理'},{link:'/notice/notice_approve',text:'待我审批'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    +RouteNav('公告')
    .condition
        .inline-group
            label(for='title') 主题:
            input#title(type='text')
        .inline-group
            label(for='readStatus') 阅读状态:
            select#readStatus
                option(value) 请选择
                option(value="0") 未阅读
                option(value="1") 已阅读
        .inline-group
            label(for='date') 发布时间:
            input#date(type='text')
        .inline-group
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='searchSomething();') 查询
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='/notice/notice_create') 新建
            button.btn.btn-default.btn-sm(type='button' onclick='deleteSomething("notice","notice")') 删除
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布人
                        td  发布时间
                        td  审核状态
                        td  操作
                tbody
                    if(noticesList.length)
                        each notice in noticesList
                            tr
                                td
                                    input(type='checkbox' data-id=notice.announcementId)
                                td.link  #{notice.title}
                                td  #{notice.publicName}
                                td  #{notice.publicTime}
                                td  #{notice.approveStatus ? '是' : '否' }
                                if(!notice.approveStatus)
                                    td
                                        a.link(style='margin-left:20px;' href='/notice/notice_detail?edit=true&announcementId='+notice.announcementId) 编辑
        if(rowsCount > 10)
            #pageInfo.pager(style="text-align:center" data-count=rowsCount)
block script
    script(type="text/javascript").
        initSearchInfo();



