extends ../components/base
block title
    title 公告发布
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/notice/notice_list',text:'公告查阅'},{link:'#',text:'公告发布'},{link:'/notice/notice_manage',text:'公告管理'},{link:'/notice/notice_approve',text:'待我审批'}]
    +asideNav(routerObj,1)
block main_content
    include ../components/mixin
    +RouteNav('公告发布')
    #inner-wrapper
        .news-create
            if(noticeList !== {})
                .form-control
                    label.control-label(for='title') 标题:
                    input#title.form-control(type='text' value=noticeDetail.title)
                .form-control
                    label.control-label(for='creator') 发布人:
                    input#creator.form-control(type='text' value=noticeDetail.publicName)
                .form-control
                    label.control-label(for='publicTime') 发布时间:
                    input#publicTime.form-control(type='date' value=noticeDetail.publicTime)
                .form-control
                    label.control-label(for='lookUpPersonId') 查阅人员:
                    input#lookUpPersonId.form-control(type='text' readonly value=noticeDetail.userlist)
                .form-control
                    label.control-label(for='content') 发布内容:
                    textarea#content.form-control(rows=10) #{noticeDetail.content}
                input(type="hidden" name="announcementId" value=announcementId)
            else
                .form-control
                    label.control-label(for='title') 标题:
                    input#title.form-control(type='text')
                .form-control
                    label.control-label(for='creator') 发布人:
                    input#creator.form-control(type='text')
                .form-control
                    label.control-label(for='publicTime') 发布时间:
                    input#publicTime.form-control(type='date')
                .form-control
                    label.control-label(for='lookUpPersonId') 查阅人员:
                    input#lookUpPersonId.form-control(type='text' readonly)
                .form-control
                    label.control-label(for='content') 发布内容:
                    textarea#content.form-control(rows=10)
            .form-control.btn-wrapper
                button#notice_save.btn.btn-default.btn-sm(type='button') 发布
                button.btn.btn-disable.btn-sm(type='button' style='margin-left:20px') 取消
block script
    script(src=__JS_PATH__ + "/notice.js" type="text/javascript")




