extends ../components/base
block style
    //link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    //link(rel='stylesheet',href=__PLUGINS_PATH__ + '/bootstrap/css/bootstrap.css?2025')

    link(rel='stylesheet',href=__PLUGINS_PATH__ + '/formDesign/css/bootstrap/css/bootstrap.css?2025')
    link(rel='stylesheet',href=__PLUGINS_PATH__ + '/formDesign/css/bootstrap/css/bootstrap-ie6.css?2025')
    link(rel='stylesheet',href=__PLUGINS_PATH__ + '/formDesign/css/bootstrap/css/ie.css?2025')
    link(rel='stylesheet',href=__PLUGINS_PATH__ + '/formDesign/css/site.css')
    link(rel='stylesheet',href=__PLUGINS_PATH__ + '/formDesign/js/flowdesign/flowdesign.css')
    link(rel='stylesheet',href=__PLUGINS_PATH__ + '/formDesign/js/jquery.multiselect2side/css/jquery.multiselect2side.css')
    //layer
    script(type='text/javascript' src=__PLUGINS_PATH__ + '/layui/layui.js')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/workflow/workflow_manage',text:'流程配置'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    include ../components/contact
    +RouteNav('流程配置')
    #inner-wrapper
        .node-wrapper
            #processMenu(style='display:none;')
                ul
                    // li id="pm_begin"><i class="icon-play"></i>&nbsp;<span class="_label">设为第一步</span></li
                    // li id="pm_addson"><i class="icon-plus"></i>&nbsp;<span class="_label">添加子步骤</span></li
                    // li id="pm_copy"><i class="icon-check"></i>&nbsp;<span class="_label">复制</span></li
                    li#pmAttribute
                        i.icon-cog
                        span._label 属性
                    li#pmDelete
                        i.icon-trash
                        span._label 删除
            #canvasMenu(style='display:none;')
                ul
                    li#cmSave
                        i.icon-ok
                        span._label 保存设计
                    li#cmAdd
                        i.icon-play
                        span._label 添加开始
                    li#cmNormal
                        i.icon-plus
                        span._label 添加步骤
                    li#cmEnd
                        i.icon-lock
                        span._label 添加结束
                    li#cmRefresh
                        i.icon-refresh
                        span._label 刷新 F5
            #flowdesign_canvas.container.mini-layout
block root
    #alertModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3 消息提示
        .modal-body
            p 提示内容
        .modal-footer
            button.btn.btn-primary(data-dismiss='modal', aria-hidden='true') 我知道了
    // attributeModal
    #attributeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='width:800px;margin-left:-350px')
        .modal-body(style='max-height:500px;')
            // body
        .modal-footer(style='padding:5px;')
            // a href="#" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><i class="icon-remove icon-white"></i></a
    input#processData(type="hidden" value=processData)
    input#flowID(type="hidden" value=flow_id)
    input#flowName(type="hidden" value=flow_name)
block script
    script(type="text/javascript" src=__PLUGINS_PATH__ + "/formDesign/js/jquery-1.7.2.min.js?2025")
    script(type="text/javascript" src=__PLUGINS_PATH__ + "/formDesign/css/bootstrap/js/bootstrap.min.js?2025")
    script(type="text/javascript" src=__PLUGINS_PATH__ + "/formDesign/js/jquery-ui/jquery-ui-1.9.2-min.js?2025")
    script(type="text/javascript" src=__PLUGINS_PATH__ + "/formDesign/js/jsPlumb/jquery.jsPlumb-1.3.16-all-min.js?2025")
    script(type="text/javascript" src=__PLUGINS_PATH__ + "/formDesign/js/jquery.contextmenu.r2.js?2025")
    script(type="text/javascript" src=__PLUGINS_PATH__ + "/formDesign/js/jquery.multiselect2side/js/jquery.multiselect2side.js?2025")
    script(type="text/javascript" src=__PLUGINS_PATH__ + "/formDesign/js/flowdesign/leipi.flowdesign.v3.js?2025")
    script(type="text/javascript").
        var processData = JSON.parse($('#processData').val());
        var flowID = #{flow_id};
        var flowID = $('#flowID').val();
        var flowName = $('#flowName').val();
    script(type="text/javascript" src=__JS_PATH__ + "/workflow/formDesign_my.js")

