extends ../components/base
block title
    title 流程配置
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/workflow/workflow_manage',text:'流程配置'}]
    +asideNav(routerObj,0)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    +RouteNav('流程配置')
    .condition
        .inline-group
            label(for='name') 流程名:
            input#name(type='text')
        .inline-group
            label(for='date') 发布时间:
            input#date(type='text')
        .inline-group
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='searchSomething();') 查询
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="window.location.href='/workflow/workflow_new'") 新建
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 编辑
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='deleteSomething("workflow","workflow")') 删除
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  流程名称
                        td  更新时间
                        td  更新人
                        td  排序
                        td  操作
                tbody
                    if(flowsList.length)
                        each flow in flowsList
                            tr
                                td
                                    input(type='checkbox' data-id=flow.id)
                                td.link  #{flow.name}
                                td  #{flow.updateTime}
                                td  #{flow.updateName}
                                td  #{flow.sortNum}
                                td
                                    a.link(href='/workflow/workflow_new?flow_id='+flow.id) 编辑
                                    a.link(style='margin-left:20px;' href='/workflow/workflow_detail?id='+ flow.id + '"') 流程配置
        if(rowsCount > 10)
            #pageInfo.pager(style="text-align:center" data-count=rowsCount)
block script
    script(type="text/javascript").
        initSearchInfo();



