extends ../components/base
block title
    title 流程配置
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    link(rel='stylesheet', href=__PLUGINS_PATH__ + '/jquery-UI/jquery-ui.theme.min.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/workflow/workflow_manage',text:'流程配置'}]
    +asideNav(routerObj,0)
block common_header
    include ../components/header
    +commonheader(0)
block style
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    +RouteNav('流程配置')
    .condition
        .inline-group
            button.btn.btn-default.btn-sm#createNode(type='button') 新建节点
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 编辑节点
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 删除节点
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 保存
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="window.location.href='/workflow/workflow_manage'") 返回
    #inner-wrapper
        .node-wrapper
            img(style='max-width:800px;' src=__IMAGES_PATH__ + '/flow_img.png')
block script
    script(type="text/javascript" src=__PLUGINS_PATH__ + "/jquery-UI/jquery-ui.min.js")
    script(type="text/javascript" src=__JS_PATH__+"/workflow/workflow_config.js")
